/* Reset or Normalize */
/* @import 'normalize.css'; Example */

/* Typography */
#root {
  text-align: center;
  color: #0c5b76;
  background-color: #ffffdd;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* max-width:100%; */
}

h1, h2, h3 {
  font-weight: bold;
  
}


/* Responsive design */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* Use Vendor Prefixes */
.element {
  -webkit-border-radius: 5px; /* Safari/Chrome */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* Standard */
}